@model OnlineExamination.Models.Models.Question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exam.ExamType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam.ExamType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WriteQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WriteQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
