@model OnlineExaminationAppp.Models.BatchParticipantViewModel

@using (Ajax.BeginForm("AddParticipantInBatch", "Participants", new AjaxOptions()
{
    HttpMethod = "POST",
    OnSuccess = "AddParticipantSuccess",
    OnFailure = "AddParticipantFailed"
}))
{
    @Html.Hidden("isFormPartial", value: "partial");

    <div class="form-horizontal">
        <hr />
        <div>
            @Html.HiddenFor(model => model.BatchId, new { @class = "form-control" })
            <div class="form-group">
                <label class="control-label col-md-5" for="SubjectName">Participant</label>
                <div class="col-md-7">
                    @Html.DropDownListFor(x => x.ParticipantId, Model.AllParticipantItems, "--Select--", new { @class = "form-control" })&nbsp;
                    <button type="button" id="AddParticipantForFixedBatch" data-id="@Model.BatchId" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">+</button>&nbsp;
                    <input type="submit" value="Add" class="btn btn-default" />

                    @Html.ValidationMessageFor(model => model.ParticipantId)
                </div>
            </div>
        </div>

    </div>
}
<div class="table-responsive">
    <table class="table table-bordered" style="border-color: black">
        <tr style="background-color: #CFD6E5;">
            <th class="text-center">
                Name
            </th>
            <th class="text-center">
                Profession
            </th>

            <th class="text-center">Option</th>
        </tr>

        @foreach (var item in Model.BatchParticipants)
        {
            <tr>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Participants.ParticipantName)
                </td>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Participants.Profession)
                </td>
                <td style="vertical-align: middle;">

                    @*@Html.ActionLink("Edit", "Edit", new { id = item.BatchId }) |*@
                    <button type="button" id="RemoveParticipantForFixedBatchButton" data-id="@item.ParticipantId" class="btn btn-primary">Remove</button>
            </tr>
        }
    </table>
</div>



<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="PartialLoadParticipantShowDiv">

            </div>
        </div>
    </div>
</div>

