@model IEnumerable<OnlineExaminationSystem.Models.Exam>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table table-bordered" style="border-color:black">
        <tr style="background-color: #CFD6E5;">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ExamType)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ExamCode)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.FullMark)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ExamDuration)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Organization.OrganizationName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </th>
            
            <th class="text-center">Option</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.ExamType)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.ExamCode)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.FullMark)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.ExamDuration)
                </td>

                <td style="vertical-align:middle;">
                    @Html.DisplayNameFor(model => model.Organization.OrganizationName)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayNameFor(model => model.Course.CourseName)
                </td>
                <td style="vertical-align:middle;">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>

