@model OnlineExaminationAppp.Models.SearchOrganizationViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Search", "Organizations", FormMethod.Post, new { encType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading text-left">Organization Search Criterio</div><br />
        <div class="form-inline">

            <div class="form-group">
                <label class="control-label col-md-5">Organization</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" name="OrganizationName" id="OrganizationName" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-5">Organization Code</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" name="OrganizationCode" id="OrganizationCode" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-5">Address</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" name="Address" id="Address" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-5">Contact Number</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" name="ContactNo" id="ContactNo" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-11">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
            <br />
        </div>
        <br />
    </div>
}
@if (Model != null && Model.OrganizationList!=null&& Model.OrganizationList.Count>0)
{
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.OrganizationName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.OrganizationCode)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.ContactNo)
                    </th>


                    <th class="text-center">Option</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.OrganizationList)
                {
                    <tr>

                    <td style="vertical-align:middle;">

                        @Html.DisplayFor(modelItem => item.OrganizationName)
                    </td>
                    <td style="vertical-align:middle;">
                        @Html.DisplayFor(modelItem => item.OrganizationCode)
                    </td>
                    <td style="vertical-align:middle;">
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td style="vertical-align:middle;">
                        @Html.DisplayFor(modelItem => item.ContactNo)
                    </td>
                    <td style="vertical-align:middle;">
                        @Html.DisplayFor(modelItem => item.About)
                    </td>

                    <td style="vertical-align:middle;">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = Model.Id })
                </tr>
                }
                
            </tbody>

        </table>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

