@model OnlineExamination.Models.Models.Exam

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Exam</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ExamTypeId, "ExamTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ExamTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.ExamTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExamCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExamCode)
                @Html.ValidationMessageFor(model => model.ExamCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Topic, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Topic)
                @Html.ValidationMessageFor(model => model.Topic)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FullMark, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullMark)
                @Html.ValidationMessageFor(model => model.FullMark)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DHour, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DHour)
                @Html.ValidationMessageFor(model => model.DHour)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DMinute, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DMinute)
                @Html.ValidationMessageFor(model => model.DMinute)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, "CourseId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CourseId", String.Empty)
                @Html.ValidationMessageFor(model => model.CourseId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
