@model IEnumerable<OnlineExaminationSystem.Models.Participant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table table-bordered" style="border-color:black">
        <tr style="background-color: #CFD6E5;">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ParticipantName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th class="text-center">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.PostCode)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Organization.OrganizationName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Batch.BatchNo)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Profession)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.HighestAcademic)
            </th>
            <th class="text-center">Option</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.ParticipantName)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.PostCode)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.RegNo)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Organization.OrganizationName)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Batch.BatchNo)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Profession)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.HighestAcademic)
                </td>
                <td style="vertical-align:middle;">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
            </tr>
        }
    </table>
</div>