@model OnlineExamination.Models.Models.Batch

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add Batch</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.BatchNo, new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.BatchNo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BatchNo)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StartDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EndDate)
                </div>
            </div>*@


        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-5" for="Organization">Organization</label>
            <div class="col-md-7">
                @Html.DropDownListFor(x => Model.Course.OrganizationId, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Course.OrganizationId)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-5" for="Course">Course</label>
            <div class="col-md-7">
                @Html.DropDownListFor(x => Model.CourseId, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(function () {
        $('#StartDate').datetimepicher({
            formate: "DD/MM/YYYY"
        })//.on('dp.change', function (e) {
        //    $(this).data('DateTimePicker').hide();

        //});
    });
    $(function () {
        $('#EndDate').datetimepicher({
            formate: "DD/MM/YYYY"
        })//.on('dp.change', function (e) {
        //    $(this).data('DateTimePicker').hide();

        //});
    });
</script>
@*<script>
        $(function () {
            $('#StartDate').datetimepicker();
        });
    </script>*@