@model OnlineExaminationAppp.Models.TraineeViiewModel

@using (Ajax.BeginForm("CreateTrainerForBatch", "Trainers",null, new AjaxOptions()
{
    HttpMethod = "POST",
    OnSuccess = "TrainerCreateSuccess",
    OnFailure = "TrainerCreateFailed"
}, new { enctype = "multipart/form-data" }))
{

    <div class="form-horizontal">
        <h4>Add Trainer</h4>
        <hr />
        <input type="hidden" name="IsPartialForm" value="true" />
        <div class="form-group">
            @Html.HiddenFor(model => model.BatchId)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TraineeName, new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.TraineeName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TraineeName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactNo, new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContactNo)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.AddressLine1, new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.AddressLine1, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AddressLine1)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.AddressLine2, new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.AddressLine2, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AddressLine2)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5" for="SubjectName">Country</label>
            <div class="col-md-7">
                @Html.DropDownListFor(x => x.CountryId, Model.CountryListItems, "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CountryId)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-5" for="SubjectName">City</label>
            <div class="col-md-7">
                @Html.DropDownListFor(x => x.CityId, Model.CityListItems, "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CityId)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.PostCode, new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.PostCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PostCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lead, new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                <input type="checkbox" name="ids" id="ids" value="true" />
                @Html.ValidationMessageFor(model => model.Lead)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                <input type="file" name="image1" id="image1" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-11">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}