@model OnlineExaminationSystem.Models.QuestionMark

<h2>Create</h2>


@using (Html.BeginForm("QuestionCreate", "QuestionAnswer"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>QuestionMark</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-5" for="Course">Organization</label>
            <div class="col-md-7">
                @Html.DropDownListFor(x => Model.OrganizationId, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrganizationId)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-5" for="Course">Course</label>
            <div class="col-md-7">
                @Html.DropDownListFor(x => Model.CourseId, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseId)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-5" for="Course">Exam</label>
            <div class="col-md-7">
                @Html.DropDownListFor(x => Model.ExamId, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExamId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Question, new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.TextAreaFor(model => model.Question, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Question)
            </div>
        </div>

        
        <div class="form-group">
            @Html.LabelFor(model => model.Mark, new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.Mark, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Mark)
            </div>
        </div>

        
        <div class="form-group">
            @Html.LabelFor(model => model.QuestionOrder, new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.QuestionOrder, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.QuestionOrder)
            </div>
        </div>

        
        <div class="form-group">
            @Html.LabelFor(model => model.OptionType, new { @class = "control-label col-md-5" })
            <div class="col-md-7">
               
                @using (Html.BeginForm("ChangeQuestionType", "QuestionAnswer", FormMethod.Post, new { encType = "multipart/form-data" }))
                {
                    @Html.DropDownList("OptionType", new List<SelectListItem>
                   {
                       new SelectListItem{Text="Single Answer",Value="1",Selected=true},
                       new SelectListItem{Text="More Answer",Value="2"}
                   }, new { @class = "form-control", @onchange = "this.form.submit();" })
                    @*@Html.DropDownList("ddlSession",
                        new SelectList(ViewBag.Session, "Value", "Text"), new { @onchange = "this.form.submit();", @class = "form-control" })*@
                    <br />

                }
                @Html.ValidationMessageFor(model => model.OptionType)
            </div>
        </div>

        @using (Html.BeginForm("TakeAnswerNo", "QuestionAnswer", FormMethod.Post, new { encType = "multipart/form-data" }))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.OptionNo, new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.OptionNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OptionNo)
                </div>
                <input type="submit" value="+" class="btn btn-default" />
            </div>
            <div>
                @if (ViewBag.OptionTypeSelect == "Single")
                { 
                    
                }
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


