@model OnlineExaminationSystem.Models.Organization

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Organization Information</h4>
	<hr />
    <div style="display:block;overflow:hidden;">
        <div class="text-center" style="width:33%;float:left">
            <img src="@Url.Content(Model.Logo)" width="200" height="200" />
        </div>
        <div class="text-center" style="width:66%;float:right;">
            <h2>@Html.DisplayFor(model => model.OrganizationName)</h2>
            <p>@Html.DisplayFor(model => model.About)</p>
        </div>
    </div><br />
    <div>
        <h3>Table use</h3>
    </div>
    <div class="text-center">
        <p>@Html.DisplayFor(model => model.Address)</p>
        <p>@Html.DisplayFor(model => model.ContactNo)</p>
    </div>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
