@model OnlineExaminationAppp.Models.CourseTraineeViewModel
@using (Ajax.BeginForm("AddTrainerInCourse", "Courses",null, new AjaxOptions()
{
    HttpMethod = "POST",
    OnSuccess = "TrainerAddedSuccess",
    OnFailure = "TrainerAddedFailed"
}, new { enctype = "multipart/form-data" }))
{
    @*@Html.Hidden("isFormPartial", value: "partial");*@

    <div class="form-horizontal">
        <hr />
        <div>
            @Html.HiddenFor(model => model.CourseId, new { @class = "form-control" })
            <div class="form-group">
                <label class="control-label col-md-5" for="SubjectName">Trainer</label>
                <div class="col-md-7">
                    @Html.DropDownListFor(x => x.TraineeId, Model.TraineeListItem, "--Select--", new {@class = "form-control"})&nbsp;
                    <button type="button" id="AddTrainerForFixedCourse" data-id="@Model.CourseId" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">+</button>&nbsp;
                    <input type="submit" value="Add" class="btn btn-default" />
                    
                    @Html.ValidationMessageFor(model => model.TraineeId)
                    
                </div>
            </div>
        </div>

    </div>
}
<div class="table-responsive">
    <table class="table table-bordered" style="border-color: black">
        <tr style="background-color: #CFD6E5;">
            <th class="text-center">
                Trainer
            </th>
            <th class="text-center">
                Lead Trainer
            </th>

            <th class="text-center">Option</th>
        </tr>

        @foreach (var item in Model.AllTraineeByCourse)
        {
        <tr>
            <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.Trainees.TraineeName)
            </td>
            <td style="vertical-align: middle;">
                
                <input id="Radio1" type="radio" value="@item.Trainees.Lead" disabled />
                
            </td>
            <td style="vertical-align: middle;">

                @Html.ActionLink("Edit", "Edit", new { TraineId = item.Trainees.Id, CourseId = item.CourseId }) |
                @Html.ActionLink("Remove", "Remove", new { TraineId = item.Trainees.Id,CourseId=item.CourseId })
        </tr>
        }
    </table>
</div>



    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div id="PartialLoadTrainerCreateDiv">

                </div>
            </div>
        </div>
    </div>
